.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    background-color: teal;
    grid-area: header;
}
.header img {
    width: 50px;
}

.nav {
    grid-area: nav;
    background-color: #61c4c4;
}

.content {
    grid-area: content;
    background-color: #28bbbb;
}